[Unit]
Description=Access Eternal - Auto Update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=__BIN__ update
StandardOutput=append:__LOG__/access.log
StandardError=append:__LOG__/error.log