[Unit]
Description=Access Eternal - Real-time IP Monitor
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=__LIB__/daemon.sh
StandardOutput=append:/var/log/access/access.log
StandardError=append:/var/log/access/error.log

[Install]
WantedBy=multi-user.target