PROVIDER=__PROVIDER__
GODADDY_KEY=__GODADDY_KEY__
GODADDY_SECRET=__GODADDY_SECRET__
CLOUDFLARE_API_TOKEN=__CLOUDFLARE_API_TOKEN__
CLOUDFLARE_ZONE_ID=__CLOUDFLARE_ZONE_ID__
DOMAIN=__DOMAIN__
HOST=__HOST__
